  {% extends 'base.html' %}
  {% block title%} Register {% endblock %}

  {% block content %}

    <!-- REGISTER
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Register -->
              {% if messages %}
<ul class="messages">
    {% for message in messages %}
   <div class="alert alert-{{ message.tags }}" role="alert">
 {{ message }}
</div>
    {% endfor %}
</ul>
{% endif %}

                <h3 class="mb-6">Sign Up and Start Learning!</h3>

                <!-- Form Register -->
                <form   class="mb-5"    method="post" action="{% url 'register' %}">

{% csrf_token %}
                    <!-- Username -->
                    <div class="form-group mb-5">
                        <label for="modalSignupUsername1">
                            Username
                        </label>
                        <input name="username" type="text" class="form-control" id="modalSignupUsername1" placeholder="John">
                    </div>

                    <!-- Email -->
                    <div class="form-group mb-5">
                        <label for="modalSignupEmail1">
                            Username or Email
                        </label>
                        <input  name="email" type="email" class="form-control" id="modalSignupEmail1" placeholder="johndoe@creativelayers.com">
                    </div>

                    <!-- Password -->
                    <div class="form-group mb-5">
                        <label for="modalSignupPassword3">
                            Password
                        </label>
                        <input  name="password" type="password" class="form-control" id="modalSignupPassword3" placeholder="**********">
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-block btn-primary" type="submit">
                        SIGN UP
                    </button>

                </form>

                 Text
                <p class="mb-0 font-size-sm text-center">
                    Already have an account? <a class="text-underline" href="{% url 'login' %}">Log In</a>
                </p>
            </div>
        </div>
    </div>

  {% endblock%}